<%- include('partials/header') %>

    <main>
        <h1>
            <%= title %>
        </h1>

        <% if (organizationDetails) { %>

            <h2>
                <%= organizationDetails.name %>
            </h2>
<p><a href="/edit-organization/<%= organizationDetails.organization_id %>">Edit Organization</a></p>

            <img src="/images/<%= organizationDetails.logo_filename %>" alt="<%= organizationDetails.name %> logo">

            <p><strong>Description:</strong>
                <%= organizationDetails.description %>
            </p>

            <p><strong>Email:</strong>
                <%= organizationDetails.contact_email %>
            </p>

            <% } else { %>
                <p>Organization not found.</p>
                <% } %>

                    <br>
                    <a href="/organizations">← Back to Organizations</a>
    </main>

    <%- include('partials/footer') %>