<%- include('partials/header') %>

    <main>

        <h1>
            <%= project.title %>
        </h1>

        <% const formattedDate=project.date ? new Date(project.date).toLocaleDateString('en-US', { year: 'numeric' ,
            month: 'long' , day: 'numeric' }) : 'Date not available' ; %>

            <p><strong>Description:</strong>
                <%= project.description %>
            </p>

            <p><strong>Date:</strong>
                <%= formattedDate %>
            </p>

            <p><strong>Location:</strong>
                <%= project.location %>
            </p>

            <p>
                <strong>Organization:</strong>
                <a href="/organization/<%= project.organization_id %>">
                    <%= project.organization_name %>
                </a>
            </p>

            <br>

            <a href="/projects">← Back to Projects</a>

    </main>

    <%- include('partials/footer') %>